Source: gst-plugin-openmax-dm81xx
Section: libs
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
XSBC-Original-Maintainer: Pavel Nakonechny <pavel.nakonechny@skitlab.ru>
Build-Depends: libgstreamer-plugins-base0.10-dev (>= 0.10.36),
 autotools-dev,
 dh-autoreconf,
 automake (>= 1.10),
 autoconf (>= 2.60),
 libtool (>= 2.0),
 autopoint (>= 0.17),
 cdbs (>= 0.4.93),
 debhelper (>= 8.1.3),
 dpkg-dev (>= 1.15.1),
 pkg-config (>= 0.11.0),
 gtk-doc-tools,
 gconf2,
 libglib2.0-dev (>= 2.24),
 gstreamer0.10-doc,
 gstreamer0.10-plugins-base-doc,
 gstreamer-tools (>= 0.10.30),
 gstreamer0.10-plugins-base (>= 0.10.36),
 dm8168-devkit
Standards-Version: 3.8.4

Package: gst-plugin-openmax-dm81xx
Architecture: armhf
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: GStreamer plugin for hardware accelerated video decoding on DM8168 board
 .

